<div class="h-full" fxLayout="column">
  <div class="p-6 pb-0 bg-card shadow-b" fxFlex="none">
    <div vexContainer>
      <h1 class="display-1 mt-0 mb-4" fxLayout="row" fxLayoutAlign="start center">
        <span @scaleIn class="w-12 h-12 rounded-full text-primary ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="icDesktop" size="24px"></ic-icon>
        </span>
        <span @fadeInRight class="block">Inicio</span>
      </h1>

      <div fxLayout="row" fxLayoutAlign="start center">
      </div>

    </div>
  </div>
</div>
