<vex-page-layout>
  <vex-page-layout-header class="pb-16 bg-contrast-black" fxLayout="column" fxLayoutAlign="center start"
                          style="background: url(/assets/img/demo/landscape.jpg) 50% center / cover no-repeat;
                                 flex-direction: column;">
    <div class="bg-contrast-black opacity-25 absolute top-0 left-0 right-0 bottom-0 z-0 w-full h-full"
         style="max-height: 200px"></div>
    <div [class.px-gutter]="true"
         class="w-full flex flex-col sm:flex-row justify-between z-0 mt-16">
      <div>
        <h2 class="headline" fxLayout="row" fxLayoutAlign="start center">Usuarios</h2>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content [class.px-gutter]="true"
                           class="-mt-6">
    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
          <span>Buscar</span>
        </h2>

        <div class="bg-card rounded-full border px-4"
             fxFlex="400px"
             fxFlex.lt-md="auto"
             fxHide.xs
             fxLayout="row"
             fxLayoutAlign="start center">
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input class="px-4 py-3 border-0 outline-none w-full bg-transparent"
                 placeholder="Ingresar texto..."
                 type="search">
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button class="ml-4"
                fxFlex="none"
                mat-icon-button
                matTooltip="Filter Columns"
                type="button">
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>

        <button (click)="createUsuario()"
                class="ml-4"
                color="primary"
                fxFlex="none"
                mat-mini-fab
                matTooltip="Add Customer"
                type="button">
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let usuario">{{usuario.nombre}}</td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let usuario">{{usuario.usuario}}</td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let usuario">{{usuario.email}}</td>
        </ng-container>

        <!-- Usuario Column -->
        <ng-container matColumnDef="activado">
          <th mat-header-cell *matHeaderCellDef class="uppercase" mat-sort-header> Activado </th>
          <td mat-cell *matCellDef="let usuario">{{usuario.activado}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let usuario" class="w-10 text-secondary" mat-cell>
            <button (click)="$event.stopPropagation()"
                    [matMenuTriggerData]="{ usuario: usuario }"
                    [matMenuTriggerFor]="actionsMenu"
                    mat-icon-button
                    type="button">
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="updateUsuario(row)"
            *matRowDef="let row; columns: displayedColumns;"
            @fadeInUp
            class="hover:bg-hover trans-ease-out cursor-pointer"
            mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-usuario="usuario" matMenuContent>
    <button (click)="updateUsuario(usuario)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Editar</span>
    </button>
    <button (click)="deleteUsuario(usuario)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Eliminar</span>
    </button>
  </ng-template>
</mat-menu>
