<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="../../../assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bienvenido</h2>
      <h4 class="body-2 text-secondary m-0">Ingresa tus credenciales debajo.</h4>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" class="p-6" fxLayout="column" fxLayoutGap="16px" novalidate>
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Usuario</mat-label>
          <input formControlName="username" matInput required>
          <mat-error *ngIf="loginForm.controls.username">{{getErrorMessage(loginForm.controls.username)}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Contrase&ntilde;a</mat-label>
          <input [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Cambiar Visibilidad" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Clic en el ojo para cambiar la visibilidad</mat-hint>
          <mat-error *ngIf="loginForm.controls.password">{{getErrorMessage(loginForm.controls.password)}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="caption" color="primary">Recordarme</mat-checkbox>
        <a [routerLink]="['/recuperar-contrasena']" class="caption">Recuperar contrase&ntilde;a</a>
      </div>

      <!--<mat-error class="label label-important" *ngIf="errorMessage">{{errorMessage}}</mat-error>-->
      <button color="primary" mat-raised-button [disabled]="!loginForm.valid">
        Login
      </button>

      <p class="text-secondary text-center">
        &iquest;No tienes una cuenta?<br/>
        <a [routerLink]="['/registrarme']">Clic aqu&iacute; para registrarte</a>
      </p>
    </form>
  </div>
</div>
